; コメントはセミコロン始まり（単に ";" で始まる検索語が無さげだから）
; コマンドを普通に並べるだけ。REPLからコマンド入力する時のように先頭に . を追加する必要はない。

add loadpath .
add loadpath /Users/MYNAME/PDIC
add loadpath /Users/MYNAME/PDIC/toc

load EIJI-132.DIC eijiro e
load WAEI-132.DIC waeijiro w
load REIJI132.DIC reijiro r
load RYAKU132.DIC ryakujiro a

group 英辞郎132 = eijiro waeijiro reijiro ryakujiro
use 英辞郎132

;lookup japan
;lookup 日本

;結果表示数の上限
set verbose = on
set direct = on
set coloring = on
set full = on
set limit = 150
set stop_on_limit = on
set lookup = regexp
